@import '../../../styles/lib/breakpoints';

.recipe{
  &__list{
    max-width: 1500px;
    width: 90%;
    @media (min-width: $break-mob) {
      width: 80%;
    }
    
    margin: 0 auto 2rem;
    list-style: none;
    padding: 0;
  }
}