@import '../../../styles/lib/breakpoints';

.recipe{
  &__list{
    &-item {
      &.spacer {
        border: none;
      }
      margin: 0 1em 1rem 0;
      padding: 1rem;
      border: 1px solid rgb(208, 224, 231);
      width: 100%;
      @media (min-width: $break-mob){
        width: 40%;
        //max-width:500px;
        min-width: 200px;
      }
      @media(min-width: 1030px) {
        width: 20%;
      }
      min-height: 200px;
      .overlay {
        background-color: transparent;
        opacity: 0;
        &_text{
          font-size: 1.5em;
          color: rgb(121, 121, 121);
        }
      }
      &:hover {
        .recipe__list-item_inner {
          opacity: 0.2;
        }
        .overlay{
          opacity: 1;
          background-color: rgba(200, 226, 230, 0.164)
        }
      }
      &_inner {
        &_image {
          height: 100px;
          img {
            object-fit: cover;
          }
        }
        &_container {
  
        }
        &_title {
          font-size: 1em;
        }
        &_time {
          font-size: 12px;
          font-weight: 100;
        }
        &_owner {
          font-size: 12px;
        }
      }
      
    }
  }
}