.modal {
  width: 90%;
  background: white;
  border: 1px solid black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  overflow: scroll;
  top: 10vh;
  bottom: 10vh;
  left: 5%;
  @media(min-width: 768px) {
    width: 50rem;
    left: calc((100% - 50rem) / 2)
  }
  &__nav {

  }

  &__header {
    padding: 1rem;
    background: white(1, 10, 129);;
    color: black;
    border: 1px solid black;
    h1{
      margin: 0;
      font-size: 1.25rem;
    }
    &_actions {

    }
  }

  &__content {
    &_ingredients-nav {
      width: 20%;
      max-width: 200px;
      .yield-count {
        &_amount {
          max-width: 20px;
          max-height: 20px;
        }
      }
      .ingredient-container {
       
      }
    }
    &_main {
      &_nav {
        &_item {
          &.active {
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }
  
}