form {
  padding: 2rem;
  .form-control {
    margin-bottom: 1rem;
    label {
      margin-bottom: 0.5rem;
    }
    label, input, textarea {
      width: 100%;
      display: block; 
    }
  }
  .form-actions {
    display: flex;
    
  }
}



.btn {
  cursor: pointer;
  transition: all 0.25s;
  background: #7ca7b9!important;
  font: inherit;
  color: white!important;
  border: 1px solid #628492!important;
  border-radius: 2px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
   box-shadow: none!important;
  &:active, &:hover {
    background: white!important;
    color: #7ca7b9!important;
    border: 1px solid #7ca7b9!important;
  }
}

.soft-btn {
  border: none;
  background: transparent;
  // border-bottom: 1px solid gray;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0.5rem 0 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  height: 100%;
  &_hover {
    color: #6b6a6a;
    border-bottom: none;
    transition: all 0.25s;
    &:hover {
      color: black;
      // border-bottom: 1px solid gray;
    }
  }
}