form {
  padding: 2rem;
  .form-control {
    margin-bottom: 1rem;
    label {
      margin-bottom: 0.5rem;
    }
    label, input, textarea {
      width: 100%;
      display: block; 
    }
  }
  .form-actions {
    display: flex;
    
  }
}



.btn {
  cursor: pointer;
  transition: all 0.25s;
  background: white!important;
  font: inherit;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  // box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  &:active, &:hover {
    background: #53879e!important;
    color: white;
    font-weight: 600;
    border: 1px solid black;
  }
}