@import '../styles/lib/breakpoints';
h1 {
  text-align: left;
  font-size: 3em;
  margin-top: 2em;
}
.recipes-control {
  padding: 1rem 1rem 1rem 0;
  width: 90%;
  max-width: 1500px;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  @media(min-width: $break-mob){
    flex-direction: row;
    // width: 80%;
    max-width: 1500px;
    margin: 1rem auto 3em 0;
    .left-control, .right-control {
      width: 50%;
    }
 
  }
  
  
  .left-control {
    // max-height: 30px;
    width: 100%;
   
    .search__container {    
      #search {
        width: 95%;
        height: 100%;
        min-height: 30px;
        //border-radius: 25px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #efeced;
        color: #efeced;
        font-size: 1.5em;
        font-weight: 700;
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #efeced;
          opacity: 0.5; /* Firefox */
        }
      }
      @media(min-width: 768px) {
        min-width: 400px;
      }
      .search-by {
        &_label {
          font-size: 10px;
        }
        &_select {
          border: none;
          background: transparent;
          font-size: 10px;
          option {
          }
        }
      }
    }
    .filterByTag {
      margin-bottom: 1em;
      @media(min-width: $break-mob) {margin-bottom: 0;}
      .filter-title {
        h4 {
          font-size: 10px;
        }
        .plus-icon {
          position: relative;
          width: 13px;
          height: 13px;
          transform: rotate(45deg);
          transition: all 0.25s;
          &.active {
            transform: rotate(0deg);
          }
          svg {
            width: 13px;
            height: 13px;
            
          }
        }
      }
      .tag-container {
        font-size: 10px;
        display: none;
        &.active {
          display: flex;
        }
        .clear-tags {
          p {
            color: #efeced98;
          }
          &:hover {
            // font-weight: 500;
           p {
            color: #efeced;
           } 
           svg {
             fill: #efeced;
             stroke: #efeced;
           }
          }
          p {
            transition: all 0.25s;
            min-width: 25px;
            // font-weight: 400;
            // color: gray;
           
          }
          
          svg {
            fill: #efeced98;
            stroke: #efeced98;
            width: 12px;
            height: 12px;
          }
        }
        .tag {
          border: 1px solid #4a4a4a;
          border-radius: 25px;
          transition: all 0.25s;
          background: #efeced !important;
          color: #27596d;
          font-size: 12px;
          max-height: 15px;
          &:hover {
            color: #efeced;
            background: #27596d!important;
            border-color: #efeced
          }
        }
      }
    }
  }
  .right-control {
    width: 100%;
    justify-content: flex-start;
    @media(min-width: $break-mob) { justify-content: flex-end; }
    .btn { 
      margin-right: 1em; 
      width: 150px;
      height: 100%;
      max-height: 30px;
      background-color: #efeced!important;
      color: #27596d!important ;
      margin-bottom: 0.25em;
      &:hover {
        color: #efeced!important;
        background-color: #27596d!important ;
        border: 2px solid #efeced!important;
      }
    }
  }
}

