@import '../styles/lib/breakpoints';
.recipes-control {
  padding: 1rem;
  width: 90%;
  max-width: 1500px;
  h1 {
    text-align: left;
  }
  @media(min-width: $break-mob){
    padding: 3rem;
    width: 80%;
    max-width: 1500px;
    margin: 2rem auto 0;
  }
  margin: 4rem auto 0;
  h1 {
    font-size: 2em;
  }

  .search__container {
    #search {
      width: 100%;
      max-width: 400px;
    }
  }
}

