.modal {
  &__content {
    &_ingredients {
      width: 100%;
      padding: 1rem;
      padding-left: 0;
      border-right: 1px solid #4a4a4a;
      @media(min-width: 768px) {
        width: 20%;
        max-width: 200px;
      }
      
      &_header {
        font-size: 12px;
        margin-bottom: 0;
      }
      &-list{
        @media(max-width: 767px) { padding-left: 0; }
        .yield-count {
          font-weight: 600;
          &_amount {
            max-width: 25px;
            max-height: 25px;
            border: none;
            border-bottom: 1px solid #4a4a4a;
            text-align: center;
            position: relative; 
            bottom: 2px;
          }
        }
        padding: 0;
        .ingredient-container {
       
        }
      }

      
     
    }
  }
}