.modal {
  &__content {
    &_ingredients {
      width: 100%;
      margin: 1rem;
      @media(min-width: 768px) {
        width: 20%;
        max-width: 200px;
      }
      
      &_header {
        font-size: 1.5em;
        margin-bottom: 0;
        margin-top: 1rem;
      }
      &-list{
        @media(max-width: 767px) { padding-left: 0; }
        .yield-count {
          font-weight: 600;
          &_amount {
            max-width: 25px;
            max-height: 25px;
            border: none;
            border-bottom: 1px solid black;
            text-align: center;
            position: relative; 
            bottom: 2px;
          }
        }
        .ingredient-container {
       
        }
      }
      
     
    }
  }
}