.modal {
  width: 90%;
  background: white;
  border: 1px solid black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  overflow: scroll;
  top: 10vh;
  //bottom: unset;
  padding-bottom: 2em;
  &:not(.image-fullscreen) {
    padding-bottom: 0em;
    bottom: 10vh;
  }
  // left: 5%;
  @media(min-width: 768px) {
    width: 50rem;
    left: calc((100% - 50rem) / 2)
  }
  &__nav {
    position: sticky;
    top: 0;
    border-bottom: 1px solid #4a4a4a;
    height: 50px;
    padding: 0 1rem;
    .action-container {
      // height: 50px;
      .cancel-delete {
        svg {
          height: 14px;
          width: 14px;
        }
      }
    }
    .close-modal {
      svg {
        fill: #efeced;
        stroke: #efeced;
      }
    }
  }



  .featured-image {
    width: 50%;
    max-width: 500px;
    display: flex;
    .main-image {
      width: 100%;
      height: 100%;
    }
  }
  &__header {
    &.main {
      @media(max-width: 767px) {
        flex-direction: column; 
        .title, .featured-image { 
          width: 100%;
          img {
            max-height: 175px;
            object-fit: cover;
          }
        }
        .title {
          h1 {
            font-size: 1.75rem;
          }
        }
      }
      max-height: 300px;
      padding: 1rem;
      background: white(1, 10, 129);;
      color: #4a4a4a;
      border-bottom: 1px solid #4a4a4a;
      h1{
        margin: 0;
        font-size: 2.25rem;
      }
      &_actions {
  
      }
    }
  }

  &__content {
    &_main {
      @media(max-width: 767px) {
        width: 100%;
      }
      &_nav {

        @media(max-width: 767px) {
          justify-content: space-around;
        }
        &_item {
          // font-size: 0.875em;
          @media(min-width: 768px) {
            //font-size: 1.5em;
          }
          margin-bottom: 0;
          &.active { border-bottom: 1.5px solid currentColor; }
        }
      }
      .uploaded-image {
        max-width: 200px;
      }

    


    }


    .section-body {
      margin: 2rem 0 0;
      &:last-of-type {
        margin-bottom: 2rem;
      }
      &.ingredients-container {
        margin-top: 0;
        @media(min-width: 768px) {
          width: 20%;
          max-width: 200px;
          border-right: 1px solid #4a4a4a;
        }
      }
      &.description-container, &.steps-container {
        @media(min-width: 768px) {
          width: 40%;
        }
      }
      &.images {
        .flickity-viewport{
          width: 100%;
          display: flex;
          
          justify-content: flex-start;
          overflow: hidden;
        }
        .flickity-slider {
          width: 100%;
          display: flex;

          
        }
        &.fullscreen {
          position: absolute;
          z-index: 100;
          margin: 0;
          .image-slider_container {
            .recipe-images {
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              .image-container {
                cursor: default;
                width: 600px;
                height: auto;
                max-width: 100%;
                img {
                  border-radius: unset;
                  max-width: 100%;
                  height: 500px
                }
              }
            }
            .arrow {
              bottom: 45%;
              height: 30px;
              width: 30px;
            }
          }
          .flickity-page-dots {
            bottom: 40px;
          }
        }
        .image-slider_container {
          &:hover {
            .arrow {
              opacity: 0.5;
            }  
          }
          .recipe-images {
            .image-container {
              
              cursor: pointer;
                width: 100px;
                height: 100px;
                padding: 0.5em;
                img {
                  border-radius: 50%;
                  max-width: 100%;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
            }
          }
          .arrow {
            display: none;
            @media(min-width: 768px) {display: flex;}
            margin: 0 1em;
            border-radius: 50px;
            opacity: 0;
            bottom: 35%;
            transition: all 0.5s;
            &:hover {
              opacity: 1;
            }
            height: 20px;
            width: 20px;
            svg {
              height: 20px;
            width: 20px;
            }
            background: white;
            &.next {
              transform: rotate(180deg)
            }
          }
        }
      }

      &.recipe-link {

      }
      &.tag-container {
          font-size: 10px;
          .tag {
            border: 1px solid #27596d;
            border-radius: 25px;
            transition: all 0.25s;
            color: #efeced  !important;
            background-color: #27596d;
            font-size: 12px;
            max-height: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.25em 0.5em;
            margin-right: 0.5em;
            // &:hover {
            //   color: #7ca7b9;
            //   background: white!important;
            //   border-color: #7ca7b9
            // }
          }
      }
    }
  }
  
}