@import '../../styles/lib/breakpoints';

.main-navigation {
  &__inner{
    max-width: 1600px;
    width: 90%;
    margin: auto;
    .account-welcome {
      &:hover {
        .account-dropdown {
          transition: opacity 0.5s;
          opacity: 1;
        }
      }
      .account-dropdown {
        opacity: 0;
        transition: opacity 0.5s;
      }
    }
    
    .hamburger-menu {
      @media(min-width: $break-mob) {
        display: none;
      }
    }
    &.open {
      .main-navigation__items {
        @media (max-width: 767px){
          max-height: 200px;
          overflow: visible;
          
        }
      }
    }
    &.visible {
      .main-navigation__items {
        @media (max-width: 767px){
          // opacity: 1;
          transition: all 0.5s;
        }
      
      }
    }
  }
  height: 3.5rem;
  
  border-bottom: 1px #27596d solid;
  border-top: 1px #27596d solid;
  
  &__logo {
    h1 {
      font-size: 1.5rem;
    }
  }
  &__items {
    @media (max-width: 767px){
      max-height: 0px;
      // opacity: 0;
      overflow: hidden;
      
      transition: all 0.5s;
      position: absolute;
      background: rgb(235, 235, 235);
      border: 1px solid white;
      right: 5%;
      top: 3.5rem;
    }
    .arrow-up {
      opacity: 0;
      @media(max-width: 767px){
        opacity: 1;
        transition: all 0.5s;
        display: flex;
        top: -10px;
        width: 0;
        height: 0;
        right: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid rgb(235, 235, 235);
      }
    }
    margin-left: 2em;
    ul {
      @media (max-width: 767px){
        flex-direction: column;
        padding: 1em;
      }
      list-style: none;
      li {
        @media (max-width: 767px){
          margin: 0.5em 0;
        }
        margin: 0 1rem;
        a, button {
          color: rgb(83, 180, 189);
          text-decoration: none;
          &:hover, &.active{
            color: rgb(5, 58, 63);
          }
        }
      }
    }
  }
}