.main-navigation {
  height: 3.5rem;
  background: rgb(228, 228, 228);
  padding: 0 2rem;
  &__logo {
    h1 {
      font-size: 1.5rem;
    }
  }
  &__items {
    margin-left: 2em;
    ul {
      list-style: none;
      li {
        margin: 0 1rem;
        a {
          color: rgb(83, 180, 189);
          text-decoration: none;
          &:hover, &.active{
            color: rgb(5, 58, 63);
          }
        }
      }
    }
  }
}